@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Share:400,700');

$primary-color: #1e87f0;
$medium-roast: #2e86de;
$light-roast: #8a6144;
$dark-roast: #533a29;
$gray: #f1f2f6;
