@import 'responsive';
@import 'vars';

//***************
//Global Styles
//***************

body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 100;
}

#search {
  margin-top: 30px;
  width: 100%;
}

.search-li {
  margin: auto auto auto 20px;

  input {
    border-radius: 5px;
  }
}

.uk-button-default {
  background-color: $coffee-cream;
  border: 0;
  color: $dark-roast;
}

.uk-button-default:hover {
  background-color: darken($coffee-cream, 20%);
  transition-duration: 0.3s;
  color: #000;
}
//***************
//Local Styles
//***************
//Login Page
#login {
  main {
    a {
      color: $medium-roast;
      font-weight: 300 !important;
    }
  }

  h3 {
    color: $medium-roast;
    font-weight: 100 !important;
    margin-top: 20px;
  }

  footer {
    margin-top: 50px;
  }

  a:hover {
    text-decoration-style: none;
    color: $dark-roast;
    transition-duration: 0.3s;
  }

  img {
    margin-top: 100px;
  }
}
//Dashboard
#dashboard {
  min-height: 100vh;
  background-color: $coffee-cream;
}
//Landing
#landing {
  min-height: 100vh;
  background-color: #fff;

  header {
    h1,
    h3 {
      color: #fff;
    }

    h1 {
      font-size: 80px;
    }

    .uk-input {
      padding: 30px 10px;
      border-color: #fff;
      border-radius: 5px;
      color: #999;
      font-weight: 300;
    }
  }

  nav {
    img {
      max-height: 80px;
      padding: 10px;
    }
  }

  #myVideo {
    height: 100vh;
    z-index: 1;
  }

  .overlay {
    z-index: 10;
  }
}

.logo-text {
  font-family: 'Share', sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px !important;
  color: #000 !important;
  transform: scale(1, 1.3);
}

.section-two {
  padding: 100px 0;
  background-color: $coffee-cream;

  .coffee-grid {
    img {
      max-height: 200px;
      padding: 30px;
    }

    img:hover {
      max-height: 210px;
      transition: max-height 400ms ease-in-out;
    }

    h2 {
      margin: 10px 0;
    }
  }
}

.copyright {
  font-size: 10px;
}
//
// @media (min-width: 1900px) {
//
//   #myVideo{
//     width: 100% !important;
//     height: auto !important;
//   }
//
// }
