@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
body, h1, h2, h3, h4, h5, h6, html, p {
  font-family: 'Lato', sans-serif; }

h1, h2, h3 {
  font-weight: 100; }

#search {
  margin-top: 30px;
  width: 100%; }

.search-li {
  margin: auto;
  margin-left: 20px; }
  .search-li input {
    border-radius: 5px; }

.uk-button-default {
  background-color: #f5ece1;
  border: 0;
  color: #533a29; }

.uk-button-default:hover {
  background-color: #dcbc95;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #000; }

#login {
  min-height: 100vh;
  background-color: #f5ece1; }
  #login h3 {
    color: #6f4e37;
    font-weight: 100 !important;
    margin-top: 20px; }
  #login a {
    color: #6f4e37;
    font-weight: 300 !important; }
  #login a:hover {
    -webkit-text-decoration-style: none;
    text-decoration-style: none;
    color: #533a29;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  #login img {
    margin-top: 100px; }

#dashboard {
  min-height: 100vh;
  background-color: #f5ece1; }

#landing header h1, #landing header h3 {
  color: #fff; }

#landing header h1 {
  font-size: 80px; }

#landing header .uk-input {
  padding: 30px 10px;
  border-color: #fff;
  border-radius: 5px;
  color: #999;
  font-weight: 300; }

#landing header nav img {
  max-height: 80px;
  padding: 10px; }

#landing #myVideo {
  height: 100vh;
  z-index: 1; }

#landing .overlay {
  z-index: 10; }
