@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

$coffee-cream: #f5ece1;
$medium-roast: #6f4e37;
$light-roast: #8a6144;
$dark-roast: #533a29;
$gray: #525252;

//Global Styles
body,h1,h2,h3,h4,h5,h6,html,p {
  font-family: 'Lato', sans-serif;
}

h1,h2,h3 {
  font-weight: 100;
}

#search{
  margin-top: 30px;
  width: 100%;
}

.search-li{
  margin: auto;
  margin-left: 20px;
  input{
    border-radius: 5px;
  }
}

.uk-button-default {
  background-color: $coffee-cream;
  border: 0;
  color: $dark-roast;
}

.uk-button-default:hover {
  background-color: darken($coffee-cream, 20%);
  transition-duration: 0.3s;
  color: #000;
}

//Local Styles
#login {
  min-height: 100vh;
  background-color: $coffee-cream;

  h3 {
    color: $medium-roast;
    font-weight: 100 !important;
    margin-top: 20px;
  }

  a{
    color: $medium-roast;
    font-weight: 300 !important;

  }

  a:hover{
    text-decoration-style: none;
    color: $dark-roast;
    transition-duration: 0.3s;
  }

  img{
    margin-top: 100px;
  }
}

#dashboard{
  min-height: 100vh;
  background-color: $coffee-cream;
}

#landing{
  header{
    h1, h3{
      color: #fff;
    }

    h1{
      font-size:80px;
    }

    .uk-input{
      padding: 30px 10px;
      border-color: #fff;
      border-radius: 5px;
      color: #999;
      font-weight: 300;
    }

    nav{
      img{
        max-height: 80px;
        padding: 10px;

      }
    }
  }

  #myVideo{
    height: 100vh;
    z-index: 1;
  }

  .overlay{
    z-index: 10;
  }
}
