@import 'responsive';
@import 'vars';

//***************
//Global Styles
//***************
html,body,h1,h2,h3,h4,h5,h6,p {
  font-family: 'Lato', sans-serif;
}

h1,h2,h3 {
  font-weight: 100;
}

footer{
  margin-top: 50px;
  background-color: #eee;
  padding: 20px;

  p{
    margin: 0;
  }
}

#dashboard-body{
  display:none;
}
#no-user{
  display: none;
}

#search {
  margin-top: 30px;
  width: 100%;
}

.search-li {
  margin: auto auto auto 20px;

  input {
    border-radius: 5px;
  }
}

.copyright {
  font-size: 10px;
}

.uk-button-default {
  background-color: $coffee-cream;
  border: 0;
  color: $dark-roast;
}

.uk-button-default:hover {
  background-color: darken($coffee-cream, 20%);
  transition-duration: 0.3s;
  color: #000;
}

.logo-text {
  font-family: 'Share', sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px !important;
  color: #000 !important;
  transform: scale(1, 1.3);
}

.coffee-list{
  h3{
    margin: 0;
    margin-bottom: 5px;
    text-align: left;
  }

  p{
    margin: 0;
    text-align: left;
  }

  img{
    margin: 0;
    margin-bottom: 20px;
    max-height: 15px;
    height: auto;
    display: block;
  }
}

.landing {
  min-height: 100vh;
  background-color: #fff;

  header {
    max-width: 100%;

    h1,h3 {
      color: #fff;
    }

    h1 {
      font-size: 80px;
    }

    .uk-input {
      padding: 30px 10px;
      border-color: #fff;
      border-radius: 5px;
      color: #999;
      font-weight: 300;
    }
  }

  nav {
    img {
      max-height: 80px;
      padding: 10px;
    }
  }

  .overlay {
    z-index: 10;
    max-width: 100vw;
  }
}

@media screen and (min-width: 1920px) {
  video{
    width: 100vw;
  }
}
