@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Share:400,700");
@media (max-width: 960px) {
  .coffee-list h3 {
    text-align: center !important; }
  .coffee-list p {
    text-align: center !important; }
  .coffee-list img {
    display: inline !important; } }

html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato', sans-serif; }

h1, h2, h3 {
  font-weight: 100; }

footer {
  margin-top: 50px;
  background-color: #eee;
  padding: 20px; }
  footer p {
    margin: 0; }

#dashboard-body {
  display: none; }

#no-user {
  display: none; }

#search {
  margin-top: 30px;
  width: 100%; }

.search-li {
  margin: auto auto auto 20px; }
  .search-li input {
    border-radius: 5px; }

.copyright {
  font-size: 10px; }

.uk-button-default {
  background-color: #f5ece1;
  border: 0;
  color: #533a29; }

.uk-button-default:hover,
.uk-button-default:focus,
.uk-button-default:active {
  background-color: #dcbc95;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #000; }

.logo-text {
  font-family: 'Share', sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px !important;
  color: #000 !important;
  -webkit-transform: scale(1, 1.3);
  -ms-transform: scale(1, 1.3);
  transform: scale(1, 1.3); }

.coffee-list {
  height: 400px;
  overflow: hidden;
  overflow-y: auto; }
  .coffee-list h3 {
    margin: 0;
    margin-top: 5px;
    text-align: left;
    font-size: 16px; }
  .coffee-list p {
    margin: 0;
    font-size: 10px;
    text-align: left; }
  .coffee-list img {
    margin: 0;
    margin-bottom: 20px;
    max-height: 15px;
    height: auto;
    display: block; }

.landing {
  min-height: 100vh;
  background-color: #fff; }
  .landing header {
    max-width: 100%; }
    .landing header h1, .landing header h3 {
      color: #fff; }
    .landing header h1 {
      font-size: 80px; }
    .landing header .uk-input {
      padding: 30px 10px;
      border-color: #fff;
      border-radius: 5px;
      color: #999;
      font-weight: 300; }
  .landing nav img {
    max-height: 80px;
    padding: 10px; }
  .landing .overlay {
    z-index: 10;
    max-width: 100vw; }
  .landing #map {
    height: 400px; }

::-webkit-scrollbar {
  display: none; }

@media screen and (min-width: 1920px) {
  video {
    width: 100vw; } }
