@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
#snackbar {
    font-family: 'Lato', sans-serif; 
    position: sticky;
    width:100%;
    bottom: 0px;
    left: 0px;
    background-color:green;
    color:white;
    text-align:center;
    z-index:1000;
    height:30px;
}

#snackbar:hover + #moreinfo {
    display:block;
}
#moreinfo {
    display:none;
    background-color:gray;
    position:absolute;
    margin-bottom:30px;
}
