@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
$coffee-cream: #f5ece1;
$medium-roast: #6f4e37;
$light-roast: #8a6144;
$dark-roast: #533a29;
$gray: #525252;

//Global Styles
body,h1,h2,h3,h4,h5,h6,html,p {
  font-family: 'Open-Sans', sans-serif;
}

h1,h2,h3 {
  font-weight: 300;
}
//
// .uk-button-default {
//   background-color: $light-roast;
//   border: 1px solid $light-roast;
//   color: #fff;
// }
//
// .uk-button-default:active,
// .uk-button-default:focus,
// .uk-button-default:hover {
//   background-color: darken($coffee-cream, 10%);
//   transition-duration: 0.3s;
//   color: #000;
// }
//Local Styles
#login {
  min-height: 100vh;
  background-color: $coffee-cream;

  h3 {
    color: $medium-roast;
    font-weight: 100 !important;
    margin-top: 20px;
  }

  a{
    color: $medium-roast;
    font-weight: 300 !important;

  }

  a:hover{
    text-decoration-style: none;
    color: $dark-roast;
    transition-duration: 0.3s;
  }

  img{
    margin-top: 100px;
  }
}

#dashboard{
  min-height: 100vh;
  background-color: $coffee-cream;
}
