@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
body, h1, h2, h3, h4, h5, h6, html, p {
  font-family: 'Open-Sans', sans-serif; }

h1, h2, h3 {
  font-weight: 300; }

#login {
  min-height: 100vh;
  background-color: #f5ece1; }
  #login h3 {
    color: #6f4e37;
    font-weight: 100 !important;
    margin-top: 20px; }
  #login a {
    color: #6f4e37;
    font-weight: 300 !important; }
  #login a:hover {
    -webkit-text-decoration-style: none;
    text-decoration-style: none;
    color: #533a29;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  #login img {
    margin-top: 100px; }

#dashboard {
  min-height: 100vh;
  background-color: #f5ece1; }
