<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Neighborbrew</title>
  <meta name="description" content="Coffee">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <!-- Font Awesome Icons -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>



  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.41/css/uikit.min.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/css/app.css">

  <!--Firebase Scripts -->
  <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>


</head>

<body class="landing">
  <div id="dashboard-body">
    <header id="dashboard-header">
      <div class="uk-position-relative">
        <div class="uk-position-center uk-text-center overlay">
          <div class="search-wrapper">
            <div uk-form-custom>
              <input class="uk-input uk-width-large" id="preference-input" type="text" placeholder="Where?" autofocus>
            </div>
            <button class="uk-button uk-button-primary" id="search">Caffeinate Me!</button>
          </div>
          <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox"> Light Roast</label>
            <label><input class="uk-checkbox" type="checkbox" checked> Medium Roast</label>
            <label><input class="uk-checkbox" type="checkbox"> Dark Roast</label>
            <label><input class="uk-checkbox" type="checkbox" checked> Local Only</label>
            <label><input class="uk-checkbox" type="checkbox"> Serves Food</label>
          </div>
          <h3>Hey {name}! Ready for coffee?</h3>
        </div>
        <img src="assets/images/coffee-cover.jpg" alt="">
        <div class="uk-position-top">
          <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
              <ul class="uk-navbar-nav">
                <li><a class="logo-text" href="#">Neighborbrew</a></li>
              </ul>
            </div>
            <div class="uk-navbar-right">
              <ul class="uk-navbar-nav">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
        </div>
        </nav>
      </div>
    </header>


    <main>

<div class="coffee-wrapper uk-position-relative">
<div class="uk-container-expand" id="coffee-display">
  <div class="uk-grid-collapse uk-text-center" uk-grid>
    <div class="uk-width-1">
      <div class="coffee-list" id="coffee-list">
        <h5>Results:</h5>
      </div>
        <div id="map"></div>

    </div>
  </div>
</div>
</div>
    </main>

    <footer>
      <div class="uk-text-center copyright">
        <p>
          <strong>Copyright &copy; 2018-2019</strong><br /> Alec Down, Sammy Straw, Max Wheeler | All Rights Reserved.<br /> Icons made from www.flaticon.com
        </p>
      </div>
    </footer>




  </div>

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.41/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.41/js/uikit-icons.min.js"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

  <!-- Custom JS -->
  <script src="assets/js/auth.js"></script>
  <script src="assets/js/app.js"></script>

  <!-- Google Maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5EXA2BJmcchE6c3DQ0fFK7nyyja5i2co&libraries=places&callback=initMap" async defer></script>

</body>

</html>
