<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Neighborbrew</title>

  <!-- Font Awesome Icons -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.41/css/uikit.min.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
</head>

<body class="signBody1">

  <header id="dashboard-header">
    <nav class="uk-navbar-container pink-header" uk-navbar>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a href="/logout">Go Back</a></li>
        </ul>
      </div>
    </nav>
  </header>


  <div class="signup">
    <div class="uk-container">
      <div class="login-form">

        <h1 class="uk-text-center">Sign Up</h1>
        <hr>

        <form class="uk-form-stacked" id="signup" name="signup" method="post" action="/signup">
          <div class="uk-margin">
            <label for="email">Email Address</label>
            <input class="uk-input uk-border-rounded" name="email" type="email" />
          </div>
          <div class="uk-margin">
            <label for="firstname">Firstname</label>
            <input class="uk-input uk-border-rounded" name="firstname" type="text" />
          </div>
          <div class="uk-margin">
            <label for="lastname">Lastname</label>
            <input class="uk-input uk-border-rounded" name="lastname" type="text" />
          </div>
          <div class="uk-margin">
            <label for="password">Password</label>
            <input class="uk-input uk-border-rounded" name="password" type="password" />
          </div>

          <div class="uk-margin">
            You enjoy a good fruity-flavored coffee.
            <select class="uk-select" id="q1">
                  <option value=""></option>
                  <option value="1">1 (Strongly Disagree)</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5 (Strongly Agree)</option>
                </select>
          </div>

          <div class="uk-margin">
            You prefer sweet over earthy coffee.
            <select class="uk-select" id="q2">
                  <option value=""></option>
                  <option value="1">1 (Strongly Disagree)</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5 (Strongly Agree)</option>
                </select>
          </div>

          <div class="uk-margin">
            Coffee with floral undetones would be something you might enjoy.
            <select class="uk-select" id="q3">
                  <option value=""></option>
                  <option value="1">1 (Strongly Disagree)</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5 (Strongly Agree)</option>
                </select>
          </div>

          <div class="uk-margin">
            You like to eat strange and wonderful foods
            <select class="uk-select" id="q4">
                  <option value=""></option>
                  <option value="1">1 (Strongly Disagree)</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5 (Strongly Agree)</option>
                </select>
          </div>

          <div class="uk-margin">
            Rate your preference on coffee roasts from "light" to "dark".
            <input id="q5" class="uk-range" type="range" value="2" min="0" max="10" step="0.1">
          </div>

          <div class="uk-margin">
            Give us three flavors that intrigue you the most!
            <div class="uk-margin">
              <select class="uk-select" name="q61" id="q6-1">
                    <option> Select flavor profile... </option>
                  </select>
            </div>
            <div class="uk-margin">
              <select class="uk-select" name="q62" id="q6-2">
                    <option> Select flavor profile... </option>
                  </select>
            </div>
            <div class="uk-margin">
              <select class="uk-select" name="q63" id="q6-3">
                    <option> Select flavor profile... </option>
                  </select>
            </div>
          </div>
          <div class="uk-margin">
            <input class="uk-button uk-button-primary uk-width-1-1" type="submit" value="Sign Up" />
          </div>

          </fieldset>
        </form>


      </div>
    </div>
  </div>

  <footer>
    <div class="uk-container">
      <div class="copyright">
        <div class="uk-child-width-1-3@m" uk-grid>
          <div>
            <p>
              <strong>Copyright &copy; 2018-2019</strong><br /> Neighborbrew | All Rights Reserved.
            </p>
          </div>
          <div>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#contact-modal" uk-toggle>Contact</a></li>
              <li><a class="grey-text text-lighten-3" href="#content-modal" uk-toggle>Content Policy</a></li>
              <li><a class="grey-text text-lighten-3" href="#legal-modal" uk-toggle>Legal</a></li>
              <li><a class="grey-text text-lighten-3" href="#disclaimer-modal" uk-toggle>Disclaimer</a></li>
            </ul>
          </div>
          <div>
            <span class="social"><a href="#"><i class="fab fa-facebook-square"></i></a></span>
            <span class="social"><a href="#"><i class="fab fa-twitter-square"></i></a></span>
            <span class="social"><a href="#"><i class="fab fa-instagram"></i></a></span>
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>


  <!--Contact Modal-->
  <div id="contact-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h3 class="uk-text-center"> Contact Us </h3>
      <p> How can we help? </p>
      <form class="uk-form-stacked">
        <div class="uk-margin">
          <input type="text" class="uk-input" id="contact-name" placeholder="Name">
        </div>

        <div class="uk-margin">
          <input type="email" class="uk-input" id="contact-email" placeholder="Email">
        </div>

        <div class="uk-margin">
          <textarea class="uk-textarea" rows="5" id="contact-msg" placeholder="Textarea"></textarea>
        </div>

        <div class="uk-margin">
          <button class="uk-button uk-button-primary uk-width-1-1" id="contact-submit">Submit</button>
        </div>
      </form>
    </div>
  </div>


  <!--Legal Modal-->
  <div id="content-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h3 class="uk-text-center"> Content Policy </h3>
      <p> We like colorful and creative language and we know it's hard to talk about coffe in a strictly factual way, but we don't accept hate speech, harassment, personal threats, rudeness or content that is pornographic, obscene or violent or is otherwise
        inappropriate as determined by Neighborbrew in our sole discretion. Abuse towards staff and moderators is also a big nuh-uh and will not be tolerated.</p>

    </div>
  </div>


  <!--Legal Modal-->
  <div id="legal-modal" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>

      <h3 class="uk-text-center"> The Legal Stuff </h3>
      <div class="uk-modal-body" uk-overflow-auto>
        <p> Information Collected Upon Registration: When you create or reconfigure a Neighborbrew account, you provide some personal information, such as your name, username, password, and email address. Some of this information, for example, your name and
          username, is listed publicly on our Services, including on your profile page and in search results. </p>
        <p> You may use your account settings to unsubscribe from notifications from Neighborbrew. You may also unsubscribe by following the instructions contained within the notification or the instructions on our website. We may use your contact information
          to help others find your Neighborbrew account, including through third-party services and client applications.</p>
        <p> Your account settings control whether others can find you by your email address. If you email us, we may keep your message, email address and contact information to respond to your request. If you connect your Neighborbrew account to your account
          on another service in order to cross-post between Neighborbrew and that service, the other service may send us your registration or profile information on that service and other information that you authorize. This information enables cross-posting.</p>
        <p> Coffee ratings, Tasting Notes, Following, Followers: Our Services are designed to help you share information with the world. Our default is almost always to make the information you provide public for as long as you do not delete it from Neighborbrew,
          but we generally give you settings to make the information more private if you want. Your public information is broadly and instantly disseminated. For instance, your public user profile information may be searchable by search engines. When
          you share information or content like photos or ratings via the Services, you should think carefully about what you are making public.</p>
        <p> Cookies: Like many websites, we use "cookie" technology to collect additional website usage data and to improve our Services, but we do not require cookies for many parts of our Services such as searching and looking at public user profiles. A
          cookie is a small data file that is transferred to your computer's hard disk. Neighborbrew may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and
          web traffic routing on our Services, and to customize and improve our Services. Most Internet browsers automatically accept cookies. You can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting
          a cookie from the websites you visit. However, some Services may not function properly if you disable cookies.</p>
        <p> Log Data: Our servers automatically record information ("Log Data") created by your use of the Services. Log Data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, location,
          your mobile carrier, device and application IDs, search terms, and cookie information. We receive Log Data when you interact with our Services, for example, when you visit our websites, sign into our Services or interact with our email notifications.
          Neighborbrew uses Log Data to provide our Services and to measure, customize, and improve them. If not already done earlier, we will either delete Log Data or remove any common account identifiers, such as your username, full IP address, or
          email address, after 18 months.</p>
      </div>
    </div>
  </div>

  <!--Disclaimer Modal-->
  <div id="disclaimer-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h3 class="uk-text-center"> Disclaimer </h3>
      <p>Neighborbrew has made every attempt to ensure the accuracy and reliability of the information provided on this website. However, the information is provided "as is" without warranty of any kind. Neighborbrew does not accept any responsibility or
        liability for the accuracy, content, completeness, legality, or reliability of the information contained on this website.</p>

      <p>No warranties, promises and/or representations of any kind, expressed or implied, are given as to the nature, standard, accuracy or otherwise of the information provided in this website nor to the suitability or otherwise of the information to your
        particular circumstances. </p>

    </div>
  </div>

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.41/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.41/js/uikit-icons.min.js"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <!-- Custom JS -->
  <script src="assets/js/script.min.js"></script>
  <script src="assets/js/app.min.js"></script>
</body>

</html>
